.header {
    display: flex;
    justify-content: space-between;
    max-width: 1640px;
    border-radius: 64px;
    border: 4px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
    margin: auto;  
    margin-top: 4px;
    padding: 24px;

    .nav {
        display: flex;
        align-items: center;
        font: 400 16px Lexend;
        color: var(--main-clean-white-ffffff, #FFF);
        gap: 32px;
        margin: auto;
    }
}